
/* <!-- ORDER DETAILS PAGE --> */

.page-CheckoutOrderDetails h1.text-center {
  
}
.page-CheckoutOrderDetails h4.card-title.col.d-flex.justify-content-center {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.page-CheckoutOrderDetails p.card-text.col.d-flex.justify-content-center{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 22px;
}


.page-CheckoutOrderDetails .card-text{
    margin-bottom: 0px;
}

.page-CheckoutOrderDetails .card-body {
    padding: 10px;
}

.page-CheckoutOrderDetails .card-img{
    max-width: 60px;
}

.page-CheckoutOrderDetails .card{
    align-items: center;
    flex-direction: row;
}
.page-CheckoutOrderDetails .card-img .edit{
    max-width: 40px;
    vertical-align: top;
}
.page-CheckoutOrderDetails .btn-outline-danger{
    max-width: 150px;
}

.page-CheckoutOrderDetails .card-text-sm{
    font-size: 11px;
}

.page-CheckoutOrderDetails .btn-primary{
    background-color: #DC2A27;
    border-color: #DC2A27;
    max-width: 130px;
}
/* <!-- REVIEW ORDER PAGE --> */



.page-CheckoutReviewOrder .card{
    align-items: center;
    flex-direction: row;
    padding: 15px 0 15px 15px;
}

.page-CheckoutReviewOrder .editOrder{
    max-width: 30px;
}

.page-CheckoutReviewOrder .wine {
    max-height: 150px; max-width: 50px;
}

.page-CheckoutReviewOrder h1.text-center{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.page-CheckoutReviewOrder h5.card-title.col.d-flex.align-left{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.page-CheckoutReviewOrder p.card-text.col.d-flex.align-left{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 22px;
}
.page-CheckoutReviewOrder h5.align-left{
    font-family:'Roboto', sans-serif;
    font-size: 22px;
}

.page-CheckoutReviewOrder .carditem{
    margin-top: auto;
    margin-bottom: auto;
}

.page-CheckoutReviewOrder .qty {
    margin-left: auto;
}

.teal {
    color: teal;
}