
/* <!-- PAYMENT METHOD PAGE --> */


/* <!-- ORDER DETAILS PAGE --> */

.page-CheckoutOrderDetails .stepOne h3 {
    color:#DC2A27;
}

/* .page-CheckoutOrderDetails h4.card-title.col.d-flex.justify-content-center {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.page-CheckoutOrderDetails p.card-text.col.d-flex.justify-content-center{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 22px;
} */


.page-CheckoutOrderDetails .card-text{
    margin-bottom: 0px;
}

.page-CheckoutOrderDetails .card-body {
    padding: 10px;
}

.page-CheckoutOrderDetails .card-img{
    max-width: 40px;
}

.page-CheckoutOrderDetails .card{
    align-items: center;
    flex-direction: row;
}
.page-CheckoutOrderDetails .card-img .edit{
    max-width: 40px;
    vertical-align: top;
}
.page-CheckoutOrderDetails .btn-outline-danger{
    max-width: 150px;
}

.page-CheckoutOrderDetails .card-text-sm{
    font-size: 11px;
}

.page-CheckoutOrderDetails .btn-primary{
    background-color: #DC2A27;
    border-color: #DC2A27;
    max-width: 130px;
}

.page-CheckoutOrderDetailsCardAdded p.card-text-sm{
    font-size: 11px;
}


@media only screen and (max-width: 766px){
    .page-header {
        height: 389px; 
    }
}


/* <!-- REVIEW ORDER PAGE --> */



.page-CheckoutReviewOrder .card{
    align-items: center;
    flex-direction: row;
    padding: 15px 0 15px 15px;
}

.page-CheckoutReviewOrder .editOrder{
    max-width: 30px;
}

.page-CheckoutReviewOrder .wine {
    max-height: 150px; max-width: 50px;
}

.page-CheckoutReviewOrder h1.text-center{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.page-CheckoutReviewOrder h5.card-title.col.d-flex.align-left{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.page-CheckoutReviewOrder p.card-text.col.d-flex.align-left{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 22px;
}
.page-CheckoutReviewOrder h5.align-left{
    font-family:'Roboto', sans-serif;
    font-size: 22px;
}

.page-CheckoutReviewOrder .carditem{
    margin-top: auto;
    margin-bottom: auto;
}

.page-CheckoutReviewOrder .qty {
    margin-left: auto;
}

.page-CheckoutReviewOrder .button1 {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.teal {
    color: teal;
}

.page-CheckoutOrderDetails .card1 {
    border: 2px solid #03ADC4;
}

.page-CheckoutOrderDetails .registerdiv {
    margin-bottom: 50px;
}

.page-CheckoutOrderDetails .btn-primary {
    background-color: #DC2A27;
    border-color: #DC2A27;
}

.page-CheckoutOrderDetails .headers {
    display: flex;
    justify-content: center;
}
.page-CheckoutOrderDetails .addcard {
    display: flex;
    align-items: center;
}

.page-CheckoutOrderDetails .icon {
    padding-right: 15px;
    padding-left: 15px;
}

.page-CheckoutOrderDetails .btn {
.page-CheckoutOrderDetails .btn2 {
    font-size: 2rem;
}

.page-CheckoutOrderDetails .btn-link {
    color:#007bff;
}

.page-CheckoutOrderDetails .card-header {
    background-color: white;
}


.page-CheckoutOrderDetails .button1 {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}


.page-CheckoutOrderDetails .card{
    align-items: center;
    flex-direction: row;
    padding: 15px 0 15px 15px;
}

.page-CheckoutOrderDetails .editOrder{
    max-width: 30px;
}

.page-CheckoutOrderDetails .wine {
    max-height: 150px; max-width: 50px;
}

.page-CheckoutOrderDetails h1.text-center{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.page-CheckoutOrderDetails h5.card-title.col.d-flex.align-left{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.page-CheckoutOrderDetails p.card-text.col.d-flex.align-left{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 22px;
}
.page-CheckoutOrderDetails h5.align-left{
    font-family:'Roboto', sans-serif;
    font-size: 22px;
}

.page-CheckoutOrderDetails .carditem{
    margin-top: auto;
    margin-bottom: auto;
}

.page-CheckoutOrderDetails .qty {
    margin-left: auto;
}

/* <!-- PRIMARY BUTTON (DESKTOP & MOBILE) --> */
.btn-primary {
    background-color: #DC2A27;
    border-color: #DC2A27;
    width: 300px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #B31F1D;
    border-color: #B31F1D;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary:hover {
    color: #fff;
    background-color:#FA0603;
    border-color:#FA0603;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
