


@media screen only and (max-width: 575px){
    .page-onboarding1 .card {
        width: 12rem;
    }
}

.page-onboarding1 .btn-primary {
    background-color: #DC2A27;
    border-color: #DC2A27;
}

.page-onboarding1 .card {
    border: 2px solid #03ADC4;
}

.page-onboarding1 .passwordlist {
    font-size: 12px !important;
}

.page-onboarding1 .registerdiv {
    margin-bottom: 50px;
}