.paddingTop10{
    padding-top: 10px;
}

.paddingTop20{
    padding-top: 20px;
}

.productName{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-top: 10px;
}

.productWeight{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.productPrice{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.paddingTop40{
    padding-top: 40px;
}

.paddingTop30{
    padding-top: 30px;
}

.Pcard-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.Pcard-subtitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 16px;
    padding-top: 20px;
}

.Pcard-text{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.paddingBottom30{
    padding-bottom: 30px;
}

.blueLink{
    color: blue;
    font-style: italic
}

.card .mb-3 {
    align-items: center;
    flex-direction: column;
}

.btn-primary {
    background-color: #DC2A27;
    border-color: #DC2A27;
}